@model EmployeesResponseDto;
<partial name="_ValidationScriptsPartial" />
@if (Model?.Employees?.Count != 0 && Model!=null)
{
    <div class="row mt-4 ">
        <div class="container-fluid table-responsive employees-list-container">
            <table class="table">
                <thead class="table-header-sticky">
                    <tr>
                        <th scope="col">
                            <div class="container-fluid" style="padding: 0%;">

                                <div class="form-check ps-3">
                                    <input class="form-check-input" type="checkbox" id="employeesMainCheckbox">
                                    <label class="form-check-label" for="MenumainCheckbox">
                                        Id
                                    </label>
                                </div>
                            </div>
                        </th>
                        <th scope="col" style="text-align: center;">Name</th>
                        <th scope="col" style="text-align: center;">Department</th>
                        <th scope="col" style="text-align: center;">Email</th>
                        <th scope="col">
                            <div class="container-fluid d-flex justify-content-end pe-0">
                                Action
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model?.Employees != null)
                    {
                        @foreach (var employee in Model.Employees)
                        {
                            <tr>
                                <th scope="row" style="padding-top:15px; padding-bottom: 15px;">
                                    <div class="container-fluid p-0">

                                        <div class="form-check ps-3">
                                            <div class="container-fluid p-0 d-flex align-items-center gap-1">
                                                <input class="form-check-input employees-checkboxes" type="checkbox"
                                                    value="@employee.Id">
                                                <div class="container-fluid p-0 d-flex align-items-center gap-1">
                                                    <label class="form-check-label" for="flexCheckIndeterminate">
                                                        <span><strong>@employee.Id</strong></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                                <td style="text-align: center;" class="font-weight-500 pt-3">@employee.Name</td>
                                <td style="text-align: center;" class="font-weight-500 pt-3">@employee.DepartmentName</td>
                                <td style="text-align: center;" class="font-weight-500 pt-3">@employee.Email</td>
                                <td class="pt-3">
                                    <div class="container-fluid d-flex justify-content-end editDeleteIconContainer gap-3 pe-0">
                                        <img src="/images/edit-button-svgrepo-com.svg" class="edit-icon cursor-pointer-class"
                                            id="editMenuItemIcon" onclick="loadUpdateEmployeeModal(@employee.Id)">

                                        <img src="/images/edit-delete-svgrepo-com.svg" class="delete-icon cursor-pointer-class" onclick="loadConfirmationModal('Are you sure you want to delete employee?','DeleteEmployee',@employee.Id)">
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="container-fluid pb-3 pe-3 pt-3 font-weight-500 pagination-bottom-sticky">
        <div class="d-flex align-items-center justify-content-end">
            <div>
                <span>Items per page:&nbsp;</span>
            </div>
            <div>
                <select class="form-select d-inline" aria-label="Default select example" id="pageSizeSelect"
                    onchange="loadEmployees('@Model?.DepartmentId',1,this.value)">
                    <option value="5" selected="@(Model?.PageSize == 5 ? "selected" : null)" style="color:#212529">5</option>
                    <option value="10" selected="@(Model?.PageSize == 10 ? "selected" : null)" style="color:#212529">10</option>
                    <option value="15" selected="@(Model?.PageSize == 15 ? "selected" : null)" style="color:#212529">15</option>
                    <option value="20" selected="@(Model?.PageSize == 20 ? "selected" : null)" style="color:#212529">20</option>
                </select>
            </div>
            <div>
                <span id="showingPageSpan" class="pe-2">
                    &nbsp;showing @(((Model?.CurrentPage - 1) * Model?.PageSize) + 1) to @Model?.LastEmployee of
                    @Model?.TotalEmployees
                </span>
            </div>
            <div class="d-flex pe-1 gap-1">
                @if (Model?.CurrentPage > 1)
                {
                    <a
                        onclick="loadEmployees('@Model.DepartmentId',@Model.CurrentPage-1,'@Model.PageSize')">
                        <img src="/images/leftArrowForPaginationNew.svg" class="left-side-arrow" />
                    </a>
                }
                else
                {
                    <img src="/images/leftArrowForPaginationNew.svg" class="left-side-arrow disabled" />
                }
                @if (Model?.CurrentPage * Model?.PageSize < Model?.TotalEmployees)
                {
                    <a
                        onclick="loadEmployees('@Model.DepartmentId',@Model.CurrentPage+1,'@Model.PageSize')">
                        <img src="/images/rightArrowForPaginationNew.svg" class="right-side-arrow" />
                    </a>
                }
                else
                {
                    <img src="/images/rightArrowForPaginationNew.svg" class="right-side-arrow disabled" />
                }
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="container-fluid d-flex justify-content-center align-items-center pt-5">
            <div>
                <img src="/images/exclamation-circle.svg" class="noDataFoundImg">
            </div>
            <div>
                <span class="text-danger fontWeight500 ps-2 noListFoundText" >No Employees Found!</span>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $("#employeesMainCheckbox").change(function () {
            $(".employees-checkboxes").prop("checked", this.checked);
        });

        $(".employees-checkboxes").change(function () {
            if (!this.checked) {
                $("#employeesMainCheckbox").prop("checked", false);
            } else if ($(".employees-checkboxes:checked").length === $(".employees-checkboxes").length) {
                $("#employeesMainCheckbox").prop("checked", true);
            }
        });
    });

</script>