@model EmployeesResponseDto;

@{
    ViewData["Title"] = "Employee List";
}

<h2>Employee List</h2>

@if (ViewBag.Error != null)
{
    <div style="color:red">@ViewBag.Error</div>
}
else if (Model?.Employees.Any() != true)
{
    <p>No employees found.</p>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Department</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model.Employees)
            {
                <tr>
                    <td>@employee.Id</td>
                    <td>@employee.Name</td>
                    <td>@employee.DepartmentId</td>
                    <td>@employee.Email</td>
                </tr>
            }
        </tbody>
    </table>
}
